<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list">
      <h2>Log in to see your booking</h2>
      <ion-list id="login-list9">
        <label class="item item-input" id="login-input2">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input3">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button5" class="button button-stable  button-block">Log in</button>
      <a href-inappbrowser="/signup" id="login-button6" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>