<ion-view title="View room" id="ViewRoom">
  <ion-content padding="true" class="has-header">
    <ion-item ng-repeat="room in room | filter : {roomID: roomId}" ng-init="totalPrice(room)">
      <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1"
        style="width:100%;height:200px;">
        <ion-slide-page id="slide1" style="background:url(&quot; ../img/{{room.images.image1}} &quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="slide2" style="background:url(&quot; ../img/{{room.images.image2}} &quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="slide3" style="background:url(&quot; ../img/{{room.images.image3}} &quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
        </div>
      </div>
      <p>Price per night <strong> {{room.price}} {{room.currency}}</strong></p>
      <p>Stars: <span id="stars" class="icon ion-android-star-outline"> {{room.stars}} </span>
      </p>
      </div>
      <h2>{{room.roomName}}</h2>
      <div>
        <p>Date of booking</p>
      </div>
      <div class="item-text-wrap">
        <p>{{room.info}}</p>
      </div>
        <br>
        </p>
        <p> Total price for {{reservation.noOfDays}} nights: {{reservation.price}} {{room.currency}} </p>
      <button class="button button-balanced  button-block" ui-sref="confirmation" ng-click="setRoom(room)" ng-init="sendObject(room)">Book this room for {{reservation.noOfDays}} nights</button>
    </ion-item>
  </ion-content>
</ion-view>